{% extends "base.html" %}

{% block title %} Flask Intro - Home {% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Pozdravljeni! Spletna stran v izdelavi 
            </div>
            <div class="panel-body">
                <p>
                    Ta spletna stran je namenjen učenju Flask frameworka 
                    Vsebina nima pomena 
                </p>
            </div>
            <div class="panel-footer">
                Janko Pirih Admin Februar 2016
            </div>
        </div>
    </div>
</div>
{% endblock content %}